/* src/HomePage.css */

.homepage-container {
  min-height: 200vh;
  position: relative;
  overflow-x: hidden;
}

.three-grid-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.content-container {
  position: relative;
  z-index: 1;
  color: black;
}
.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
    position: relative;
}

.title {
  font-size: 3rem;
    font-weight: normal;
    margin: 0;
    color: black;
}

.navbar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1.5rem;
  z-index: 10;
}

.scroll-arrow {
  position: absolute;
  bottom: 2rem;
    cursor: pointer;
    z-index: 10;
}

#tuin-maken {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Nieuwe code voor positionering van de titel */
.title-container {
  position: absolute;
  top: 40%;
  /* Iets boven het midden */
  left: 10%;
  /* Aan de linkerkant van het scherm */
  transform: translateY(-50%);
  text-align: left;
  max-width: 450px;
}
.main-title {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  /* Ruimte onder de titel */
  color: black;
}
.subtitle {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}