@import url('https://fonts.googleapis.com/css2?family=Andale+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Andale Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ECEBED;
    color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: inherit;
}